html,body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: #f6f6f6;
}
a {
	text-decoration: none;
	color: #2c352f;
}
a:hover, a:visited {
	color: #2c352f;
}
ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.user_top {
	width: 100%;
	height: 70px;
	background: #cc0000;
}
.user_logo {
	width: 133px;
	height: 35px;
}
.user_logo img {
	width: 100%;
	height: 100%;
}
.common_center {
	width: 1150px;
	height: 70px;
	margin: 0 auto;
}
.common_center.flex_row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.user_top_nav {
	display: flex;
	flex-direction: row;
	flex: 1;
	padding-left: 60px;
}
.user_top_nav a {
	color: #ffffff;
	padding: 0 24px;
}
.user_top_form {
	flex: 0 0 224px;
	height: 40px;
}
.user_top_form input {
	width: 100%;
	height: 40px;
}
.user_login {
	flex: 0 0 109px;
	text-align: center;
}
.user_login a {
	color: #FFFFFF;
	font-size: 14px;
}

.user_adv {
	width: 100%;
	height: 320px;
}
.user_avatar {
	width: 100%;
	text-align: center;
	margin-top: -60px;
}
.user_avatar img{
	width: 121px;
	height: 121px;
	border-radius: 100%;
	overflow: hidden;
	border: 5px solid #FFFFFF;
}
.user_info {
	text-align: center;
}
.user_nickname {
	font-size: 32px;
	font-weight: 600;
	
}
.user_share {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.user_share_item {
	width: 24px;
	height: 24px;
	overflow: hidden;
	border-radius: 50%;
}
.user_share_item img {
	width: 100%;
	height: 100%;
}
.user_city {
	color: #878787;
	padding: 15px 0;
}
.user_intro {
	color: #353538;
	padding-bottom: 20px;
}
.user_button {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.user_button div {
	width: 220px;
	border: 1px solid #b8b8b8;
	padding: 20px 0;
	border-radius: 8px;
}
.user_button div.on {
	background-color: #ffd202;
}
.user_button div:nth-of-type(2) {
	margin-left: 10px;
}
.user_nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 60px;
	line-height: 60px;
}
.user_nav div {
	padding: 0 20px;
}
.user_nav i {
	font-style: normal;
}
.user_works {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	background: #F4F4F4;
	padding-bottom: 20px;
}
.user_works_item {
	width: 310px;
	background: #FFFFFF;
	margin-top: 23px;
	border-radius: 4px;
	overflow: hidden;
}
.user_face {
	width: 310px;
	height: 240px;
}
.user_face img {
	width: 100%;
	height: 100%;
}
.user_works_title {
	padding: 14px;
}
.user_tags {
	color: #a7a7a7;
	padding: 0 14px;
}
.user_ext {
	color: #a7a7a7;
	text-align: center;
}
.user_date {
	text-align: right;
	color: #b2b2b2;
	border-top: 1px solid #f4f4f4;
	padding: 20px;
	margin-top: 20px;
}
footer {
	background: #353538;
	height: 200px;

}
.common_block {
	width: 100%;
	height: 20px;
}
.flink a{
	padding: 0 10px;
}

.user_center {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.user_left {
	margin-top: 20px;
	flex: 0 0 240px;
	text-align: center;
}
.user_base {
	width: 100%;
	background: #FFFFFF;
	text-align: center;
	padding: 20px 0;
}
.user_headimgurl {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
}
.user_headimgurl img {
	width: 100%;
	height: 100%;
}
.user_nickname {
	font-size: 24px;
	color: #242a25;
	padding: 22px 0 44px 0;
}

.user_menu {
	margin-top: 20px;
	background: #FFFFFF;
}
.user_menu li {
	padding: 18px 0;
	box-sizing: border-box;
}
.user_menu li:hover {
	background: #ebebeb;
	cursor: pointer;
	border-left: 4px solid #eb0502;
}
.user_menu li.on {
	background: #ebebeb;
	border-left: 4px solid #eb0502;
}
.user_right {
	margin-top: 20px;
	flex: 1;
	margin-left: 28px;
	background-color: #FFFFFF;
}
.user_message_tab {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #eeeeee;
}
.user_message_tab li {
	padding: 22px 33px;
	cursor: pointer;
}
.user_message_tab li.on {
	border-bottom: 2px solid #b0b0b0;
}
.user_message_content {
	
}
.user_message_item {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.info {
	margin-left: 20px;
	color: #666666;
}